*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 182, 108);
    background-size: cover;
    background-position: center;

}
.container{
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout{
    position: relative;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: aliceblue;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: none;
}
.greeting{
    font-size: 100px;
    color: aliceblue;
    font-weight: 800;
    text-transform: capitalize;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgb(185, 200, 218),rgb(116, 116, 121));
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: azure;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: azure;
    text-decoration: none;
}
nav li a:hover{
    color: rgb(238, 144, 57);
    transition: all 0.4s ease 0s;
}
.content-items img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}